<h1>CAS Buildings</h1>
<% @buildings.each do |building| %>
	<p><%= building.name %> - <%= building.short_name %></p>
	<% if logged_in? %>
		<div class="admin_edit_links update_link_only">
			<%= link_to "Edit", edit_building_path(building) %>
		</div>
	<% end %>
<% end %>