<h1>Jack IDs</h1>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
    	<th>Building</th>
      <th>Room</th>
      <th>Jack IDs</th>
      <th>Connections</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  	<tr>
  		<td>Bowman</td>
  		<td>320-A</td>
  		<td>
  			<p>Bow-02-03-013</p>
  			<p>Bow-02-03-014</p>
  			<p>Bow-02-03-015</p>
  		</td>
  		<td>
  			<p>AB</p>
  			<p>ABC</p>
  			<p>ABCDEF</p>
  		</td>
  		<td>Details</td>
  	</tr>
  	  	<tr>
  		<td>Bowman</td>
  		<td>330-A</td>
  		<td>Bow-02-03-013</td>
  		<td>AB</td>
  		<td>Details</td>
  	</tr>
  </tbody>
</table>