<h1>Rooms</h1>
<div class="symbols-legend">
	<span class="has-notes">* </span> denotes that room has associated notes.
</div>
<div id="locations">
  <%= render 'locations' %>
</div>

<div id="paginator">
  <%=  paginate @locations, :remote => true %>
</div>